.btn-primary-outline {
  width: 392px !important;
  height: 70px !important;
  border-radius: 8px !important;
  border: solid 2px #ffffff !important;
  font-size: 20px !important;
  font-weight: normal !important;
  text-transform: inherit;
}
